# Ignore Brave's heavy and sensitive data
.config/BraveSoftware/Brave-Browser/Default/Cache
.config/BraveSoftware/Brave-Browser/Default/Code\ Cache
.config/BraveSoftware/Brave-Browser/Default/GPUCache
.config/BraveSoftware/Brave-Browser/Default/Service\ Worker
.config/BraveSoftware/Brave-Browser/Safe\ Browsing
.config/BraveSoftware/Brave-Browser/GrShaderCache
.config/BraveSoftware/Brave-Browser/Default/Cookies
.config/BraveSoftware/Brave-Browser/Default/Preferences
.config/BraveSoftware/Brave-Browser/Default/Sessions/Session_13417938195611131
.config/BraveSoftware/Brave-Browser/Default/TransportSecurity
.config/BraveSoftware/Brave-Browser/Default/WebStorage/QuotaManager
.config/BraveSoftware/Brave-Browser/Default/WebStorage/QuotaManager-journal
.config/BraveSoftware/Brave-Browser/Local State
.config/BraveSoftware/Brave-Browser/Default/Cookies
# Ignore everything in Brave except the folder structure if you want
brave/.config/BraveSoftware/Brave-Browser/Default/*

# Keep these if you REALLY want to sync some settings (but risky)
!brave/.config/BraveSoftware/Brave-Browser/Default/Preferences
!brave/.config/BraveSoftware/Brave-Browser/Default/Bookmarks

# BUT, absolutely ignore these (Sensitive/Binary)
**/Cookies*
**/History*
**/Login Data*
**/Network Persistent State
**/WebStorage/
**/IndexedDB/
**/Local Extension Settings/
**/Local State
**/Cache/
